### Overview of the Dataset
The dataset contains individual statistics for all first generation Pokemon. It includes attributes such as attack, defense, hit points (HP), and speed. All of these are measures related to their ability in battle.

The dataset includes 800 observations across 13 columns.

https://www.kaggle.com/shikhar1/pokemon/data

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
%matplotlib inline

### Read data in, take a look at the data, then determine if there are any missing values

In [2]:
pokemon = pd.read_csv('Pokemon.csv')

In [3]:
pokemon.shape

(800, 13)

In [4]:
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
pokemon.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [14]:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [6]:
#Create variable to find missing values across all columns

missing_values_count = pokemon.isnull().sum()
print(missing_values_count)

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

Only missing values we have are seen in the 'Type 2' column. This should not be a problem because our classifier will focus solely on 'Type 1'.

### First we will build our Decision Tree Model

In [13]:
#Create a separate sliced dataframe

pokemon_revised = pokemon.iloc[:, 4:11]

In [27]:
#Convert class column 'Type 1' to integer. Currently an object, transform to category first, then int.

pokemon['Type 1'].astype('category')

0         Grass
1         Grass
2         Grass
3         Grass
4          Fire
5          Fire
6          Fire
7          Fire
8          Fire
9         Water
10        Water
11        Water
12        Water
13          Bug
14          Bug
15          Bug
16          Bug
17          Bug
18          Bug
19          Bug
20       Normal
21       Normal
22       Normal
23       Normal
24       Normal
25       Normal
26       Normal
27       Normal
28       Poison
29       Poison
         ...
770       Fairy
771    Fighting
772    Electric
773        Rock
774      Dragon
775      Dragon
776      Dragon
777       Steel
778       Ghost
779       Ghost
780       Ghost
781       Ghost
782       Ghost
783       Ghost
784       Ghost
785       Ghost
786       Ghost
787       Ghost
788         Ice
789         Ice
790      Flying
791      Flying
792       Fairy
793        Dark
794      Dragon
795        Rock
796        Rock
797     Psychic
798     Psychic
799        Fire
Name: Type 1, Length: 800, dtype: category
Categories (18, object): [Bug, Dark, Dragon, Electric, ..., Psychic, Rock, Steel, Water]

In [17]:
# This is the model we'll be using.
from sklearn import tree

# A convenience for displaying visualizations.
from IPython.display import Image

# Packages for rendering our tree.
import pydotplus
import graphviz

# Initialize and train our tree.
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=3,
    max_depth=5)

decision_tree.fit(pokemon['Type 1'], pokemon_revised)

# Render our tree.
dot_data = tree.export_graphviz(
    decision_tree, out_file=None,
    feature_names=pokemon_revised.columns,
    class_names=['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'],
    filled=True)

graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())

#Print run time
import time

start_time = time.time()
main()
print("--- %s seconds ---" % (time.time() - start_time))

ValueError: could not convert string to float: 'Fire'